<ion-header>
  <ion-toolbar>
    <ion-title>Fightinghawk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nombre del jugador</ion-label>
    <ion-input [(ngModel)]="playerName"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="startGame()" class="ion-margin-top">
    Start game
  </ion-button>
  <ion-button expand="full" (click)="goToScores()" class="ion-margin-top">
    View scores
  </ion-button>
</ion-content>
